$logoWidth = 103px

.navbar
  height: $headerHeight
  line-height: $headerHeight
  background-color: #4d4d4d
  padding-left: 33px
  padding-right: 33px
  border-radius: 0px
  color: #fff
  position: relative
  margin-bottom: 0px
  text-align: center
  border-bottom: 1px solid #a6a6a6
  
  .navbar-leftside
  .navbar-rightside
    width: 50%
    float: left

  .bits-logo-container
  .bits-logo
    height: 35px
    width: $logoWidth
  
  .make-btn
    float: right
    margin-right: ($logoWidth / 2) + 33px
    
  .shop-btn
    float: left
    margin-left: ($logoWidth / 2) + 33px

  .shopping-cart
    float: right
    
  .user-profile
    float: left
  
  .shopping-cart
  .user-profile
    display: inline-block
    
  .bits-logo-container
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    top: 14.5px
    
  .center-nav
    text-align: center
    height: 100%    
    margin: auto;
    display: inline-block;
    
  .bttn
    text-transform: uppercase
  
  a
    color: #fff
    text-decoration: none
    display: inline-block
    height: 100%

  .fa
    line-height: 64px
    font-size: 27px
    
  .bottom-left
  .bottom-right
    display: inline-block

@media (max-width: 480px)
  .navbar
    height: 74px
    padding-left: 0px
    padding-right: 0px
    background-color: #4d4d4d
    
    .navbar-leftside
    .navbar-rightside
      margin-top: 44px
      height: 30px
      line-height: 30px
      font-size: 10px
      .fa
        line-height: 30px
        font-size: 15px
      
    .navbar-leftside
      background-color: #595959
      padding-left: 10px
      
    .navbar-rightside
      background-color: #555555
      padding-right: 10px
    
    .shop-btn
      width: 56
      text-align: right
      margin-left: 0

    .make-btn
      width: 56px
      text-align: left
      margin-right: 0

    .bits-logo-container
      top: 4px