.panel
  border-radius: 0px
  margin-bottom: 0px
  height: 100%
  font-family: $fonts
  
  .inner-panel
    width: 100%
    height: 100%
    position: relative
    display: flex
    align-items: center
    justify-content: center

    
  &.panelNum1
    background-color: #030303
  
  &.panelNum2
    background-color: #3a3a3c
    
  &.panelNum3
    background-color: #58585a
    
  &.stacked
    height: 50%
  

  .circle
    position: absolute
    top: 11px
    left: 13px
    
    width: 29px
    height: 29px
    border-radius: 50%
    background-color: #fff
    line-height: 29px
    text-align: center
    

  h1
  h2
  h3
    margin-top: 0px
    margin-bottom: 0px

  h1
    font-weight: bold
    
  strong
    text-transform: uppercase
    font-weight: bold
        
  button
    background-color: #fff
    border-radius: 5px
    border: 1px solid #fff
    overflow: hidden
    text-align: center
    outline: none
    width: 150px
    height: 48px
    font-family: $fonts
    font-size: 11px
    margin-left: auto
    margin-right: auto
    margin-top: 30px
    font-weight: bold
    text-transform: uppercase
    &:hover
      outline: none
    color: #000
    
  .space-kit
  .new-bits
  .shipping
    text-align: center
    color: #fff 

  .small-txt
    font-size: 6px
    text-transform: uppercase
    position: absolute
    bottom: 15px
    width: 100%
    left: 0px

  .space-kit
    

    h1
      font-weight: bold
      margin-bottom: 5px
      text-transform: uppercase
      margin-top: 20px
      
    h2
      margin-bottom: -20px
      margin-top: 0px
      text-transform: uppercase

    