$fonts = 'Futura Round',Oswald,Helvetica,Arial,sans-serif

$headerHeight = 64px

body
  font-family: $fonts
  background-color: #4d4d4d


.nested-child
  padding-left: 0px
  padding-right: 0px
  

.visible-xxs
  display: none

.hidden-xxs
  display: block
  
@media (max-width: 480px)
  .visible-xxs
    display: block !important
    
  .hidden-xxs
    display: none !important
